/* Approved color palette: #FFFFFF (Black); #000000 (White); #5677D4 (Medium Blue); #BF391A (Medium Red); #E4D00A (Citrine). Refer to Style Guide in Trello 

Approved fonts, in order of preference: Arial; Helvetica

Use 
*/
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #5677D4;
  text-align: center;
  margin: 20px;
  border-radius: 10px;
  height: 200px;
}

h1 {
  color: white;
  padding: 10px;
  font-size: 3em;
  letter-spacing: 5px;
}

ul {
  margin: 60px;
}

li{
  background-color: white;
  color: #5677D4;
  display: inline;
  padding: 20px;
  margin: 30px;
  font-size: large;
  border-radius: 10px;   
}

li:hover {
  background-color: red;
}

a {
  text-decoration: none;
  color: black;
}


section {
  background-color: #5677D4 ;
  text-align: center;
  margin: 20px;

}

#start-button{
  background-color: #E4D00A;
}

#submit{
  background-color: white;
  padding: 5px 15px;
}




p {
  Font: Arial;
}
