/* Approved color palette: #FFFFFF (Black); #000000 (White); #5677D4 (Medium Blue); #BF391A (Medium Red); #E4D00A (Citrine). Refer to Style Guide in Trello 

Approved fonts, in order of preference: Arial; Helvetica

Use 
*/
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #5677D4;
  text-align: center;
  margin: 2vw;
  border-radius: 1vw;
  
}

h1 {
  color: white;
  padding: 1vw;
  font-size: 6vw;
  letter-spacing: 5px;
}


nav{
  padding-bottom: 1vw;
}

ul {
  margin: auto;
  width: max-content;
  padding: 2vw;

}

li{
  background-color: white;
  color: #5677D4;
  display: inline;
  padding: 1vw;
  margin: 1vw;
  font-size: 2.5vw;
  border-radius: 10px;  
 

}

li:hover {
  background-color: red;
}

a {
  text-decoration: none;
  color: black;
}

#starting-image{
  width: 60%;
}


#image-test{
  width: 50%;
}


section {
  text-align: center;
  margin: 20px;
  border-radius: 1vw;
  color: white;
  padding: 1vw;
}

#start-button {
  background-color: #5677D4;
  color: white;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 5px;
 
}

#submit {
  background-color: white;
  padding: 5px 15px;
}

form {
  text-align: center;
}

footer {
  background-color: #5677D4 ;
  text-align: left;
  border-radius: 1vw;
  margin: 20px;
  color: white;
  height: 30px;
  font-size: small;
}


p {
  Font: Arial;
}

label, input, button{
  display: block;
  margin: auto;
  margin-bottom: 10px;
}






#results-section {
  background-color: #5677D4;
  margin: 2vw;
}

#result-text {
  background-color: red;

}


#information-1 {
  background-color: #5677D4;
  width: 30%;
}

#information-2 {
  background-color: #5677D4;
  width: 30%;
  display: float;
}

.container1 {
  height: 25px;
  background-color:#ccc ;
  position: relative;
  border-radius: 10px; 
}

.container1 .progress-bar {
  position: absolute;
  height: 100%;
  background-color: #E4D00A;
 
  border-radius: 10px;
}

#play-animation {
  animation: progress-animation 10s forwards;
}

@keyframes progress-animation {
  0% { width:0%;}
  100% {width: 100%;}

}
